*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    width: 100%;
    border-bottom:black 3px solid;
    background-color: RGB(255, 215, 0);
}
.Logo img{
    width: 120px;
    border-radius: 100px;

    
}

.nav{
    display: flex;
    gap: 30px;
}

.nav a{
    text-decoration: none;
    color: RGB(10, 36, 99);
    font-size: 18px;
    font-weight: 500;
    
}

main{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background-color: RGB(10, 36, 99) ;
}

.main1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     padding-top: 100px;
     padding-bottom: 100px;
    background-image: url(images/jewerly\ banner.jpg);
    width: 80%;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: yellow 0px 0px 20px 5px;
    color: RGB(255, 215, 0);

}
.main2 {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    background-color:  RGB(255, 215, 0);
    gap: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    
}

.left{
    width: 40%;
    padding: 20px;
    color:  RGB(255, 215, 0) ;
    background-color: RGB(10, 36, 99) ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right{
    width: 40%;
    padding: 20px;
    background-color: RGB(255, 215, 0);
}

.right img{
    width: 100%;
}

.main2_btn{
    padding: 10px ;
    background-color: RGB(255, 215, 0);
    color: RGB(10, 36, 99);
    cursor: pointer;
}

.main2_btn:hover{
    color: RGB(255, 215, 0);
    background-color: RGB(10, 36, 99);
}

.main3{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 40px;
   margin-top: 50px;
   padding-bottom: 100px;
}

.main3 a{color:RGB(10, 36, 99) ;
  text-decoration: none;}

.choose{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:RGB(255, 215, 0) ;
    padding:10px ;
}
.category{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    
}


.about-container{display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                   gap: 20px;
                 color: RGB(255, 215, 0);}


.about-content{display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                   gap: 20px;
                 color: RGB(255, 215, 0);}

.contact-container {display: flex;
                   flex-direction: column;
                    justify-content: center;
                   align-items: center;
                   gap: 20px;
                 color: RGB(255, 215, 0);}                


.contact-info {display: flex;
                   flex-direction: column;
                    justify-content: center;
                   align-items: center;
                   gap: 20px;
                 color: RGB(255, 215, 0);}             
footer{
    background-color: RGB(10, 36, 99);
    color: RGB(255, 215, 0);
    padding: 60px 40px;
    width: 100%;
    border-top: 2px solid RGB(255, 215, 0);
}

.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.footer-section{
    flex: 1;
}

.footer-section h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: RGB(255, 215, 0);
}

.footer-section p{
    font-size: 14px;
    line-height: 1.6;
    color: RGB(255, 215, 0);
}

.footer-section ul{
    list-style: none;
}

.footer-section ul li{
    margin-bottom: 8px;
}

.footer-section a{
    color: RGB(255, 215, 0);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-section a:hover{
    color: black;
}

.footer-bottom{
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid RGB(255, 215, 0);
    font-size: 13px;
}

.rings{display: flex;
    flex-direction: column;
    background-color: RGB(10, 36, 99);
    color:RGB(255, 215, 0);
    gap: 10px;
    padding-bottom:50px ;
}

.ring_divs{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mainc{height: 500px;}
.maina{height: 500px;}
.ring_column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ring{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: RGB(10, 36, 99);
    gap: 10px;
    background-color:RGB(255, 215, 0);
}

.ring img{
    width: 200px;
    height: 200px;
    background-color: white;
}

.fb{
    background-color: RGB(10, 36, 99);
    color:RGB(255, 215, 0);
    padding:5px;
    border-radius: 15px;
    cursor: pointer;

}
.fb:hover{
    color: RGB(10, 36, 99);
    background-color:RGB(255, 215, 0);

}
@media (max-width: 768px) {
    .main2 {
        flex-direction: column;
        width: 90%;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
    .ring_divs{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .main2 {
        width: 95%;
        gap: 15px;
    }

    .left {
        padding: 15px;
    }

    .right {
        padding: 15px;
    }

    .left h1 {
        font-size: 20px;
    }

    .left h3 {
        font-size: 14px;
    }

    .main3{
        flex-direction: column;
    }

    .footer-content{
        flex-direction: column;
        gap: 30px;
    }

    .footer-section{
        text-align: center;
    }
}



